{% extends 'base.html' %}

{% block header %}
<h1>{{ _("title-create-account") }}</h1>
{% endblock %}

{% block content %}

{% if error %}
<span>{{ _("error-account-fix-and-resubmit") }}</span>
{% endif %}

<form method="post">

	<label for="name">{{ _("label-user-name") }}</label>
	<input name="name" type="text" value="{{ error.context.name if error.context }}" required></input>
	{% if error and 'name' in error['fields'] %}
	{% if error['fields']['name'] == False %}
	<span>{{ _("error-user-invalid-name") }}</span>
	{% else %}
	<span>{{ error['fields']['name']  }}</span>
	{% endif %}
	{% endif %}

	<label for="email">{{ _("label-user-email") }}</label>
	<input name="email" type="email" value="{{ error.context.email if error.context }}" required></input>
	{% if error and 'email' in error['fields'] %}
	{% if error['fields']['email'] == False %}
	<span>{{ _("error-user-invalid-email") }}</span>
	{% else %}
	<span>{{ error['fields']['email']  }}</span>
	{% endif %}
	{% endif %}

	<label for="password">{{ _("label-user-password") }}</label>
	<input name="password" type="password" value="{{ error.context.password if error.context }}" required></input>
	{% if error and 'password' in error['fields'] %}
	{% if error['fields']['password'] == False %}
	<span>{{ _("error-user-invalid-password") }}</span>
	{% else %}
	<span>{{ error['fields']['password']  }}</span>
	{% endif %}
	{% endif %}

	<label for="lang">{{ _("label-user-lang") }}</label>
	<input name="lang" type="text" value="{{ error.context.lang if error.context }}" required></input>
	{% if error and 'lang' in error['fields'] %}
	{% if error['fields']['lang'] == False %}
	<span>{{ _("error-user-invalid-lang") }}</span>
	{% else %}
	<span>{{ error['fields']['lang']  }}</span>
	{% endif %}
	{% endif %}

	<input type="submit" value="{{ _("button-create-account") }}"/>
</form>
{% endblock %}
