{% extends 'base.html' %}

{% block header %}
<h1>{{ _("title-verify-account-email") }}</h1>
{% endblock %}

{% block content %}

{{ _("account-email-verify-to-continue") }}

<form method="post" action="{{ url_for('account.verify_email', user_id=user_id) }}">
	<label for="code">{{ _("label-user-validation-code") }}</label>
	<input name="code" type="text"></input>
	<input type="submit" value="{{ _("button-validate-email") }}"/>
</form>

{{ _("account-email-verify-need-resend") }}

<form method="post" action="{{ url_for('account.verify_email', user_id=user_id) }}">
	<input type="hidden" name="resend" value="True"/>
	<input type="submit" value="{{ _("button-resend-email-validation-code") }}"/>
</form>


{% endblock %}
